<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Concert+One&display=swap" rel="stylesheet">
   
    <title>Reset Password</title>    <style>
        * {
            font-family: "Concert One", sans-serif;
            font-weight: 400;
            font-style: normal;
        }
    </style>
</head>
<body>
    <h1>Reset Password</h1>
    <% if (message) { %>
        <p><%= message %></p>
    <% } %>
    <form action="/auth/reset-password" method="POST">
        <input type="hidden" name="email" value="<%= email %>">
        <input type="number" name="otp" required placeholder="Enter OTP">
        <input type="password" name="newPassword" required placeholder="New Password">
        <button type="submit">Reset Password</button>
    </form>
</body>
</html>