
/* You can add global styles to this file, and also import other style files */

html,
body {
   /* font-family: "Modak", system-ui;
  font-weight: 400;
  font-style: normal; */
  /* font-family: "Metal Mania", system-ui;
  font-weight: 400;
  font-style: normal; */
   font-family: "Germania One", system-ui;
  font-weight: 400;
  font-style: normal;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
    
  }
}


:host {
  @apply block;
}

input[type="file"] {
  @apply border-gray-300 rounded-md;
}

button {
  @apply px-6 py-2;
}